<template name="marks">
    <div class="page-header">
        <h1>Оценки</h1>
    </div>
    <div class="col-md-12">
        <form action="" class="form-inline">
            <div class="form-group">
                <select class="form-control" name="year" id="year">
                    {{#each years}}
                        <option value="{{year}}" {{selected}}>{{year}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                {{#if groupsReady }}
                    {{#each groups}}
                        {{>marksGroup}}
                    {{/each}}
                {{else}}
                    {{>loading }}
                {{/if}}
            </div>
        </form>
    </div>
    <div class="timeline-wrapper">
        {{#constant}}







        {{/constant}}
    </div>
</template>