@import "../../../helpers/const";

$baseHeight: 32px;
$baseWidth: 36px;
$borderWidth: 2px;
//
//.god {
//  &:after {
//    content: ' ';
//    opacity: 0;
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    background: white;
//    margin: 3px;
//    border-radius: 3px;
//    @include animation(godAnimation2 3s linear infinite);
//  }
//}
//
//.s-table > tbody {
//  @for $i from 1 through 10 {
//    > tr:nth-child(#{$i}) {
//      .god {
//        &:after {
//          -webkit-animation-delay: #{$i/10}s;
//          -moz-animation-delay: #{$i/10}s;
//          -o-animation-delay: #{$i/10}s;
//          animation-delay: #{$i/10}s;
//        }
//      }
//    }
//  }
//}
//
//@include keyframes(godAnimation2) {
//  0% {
//    opacity: 0;
//    width: 0;
//  }
//  50% {
//    opacity: .4;
//  }
//  100% {
//    opacity: 0;
//    width: 100%;
//  }
//}

@mixin markCell($color, $shadowColor) {
  &.mmark {
    cursor: pointer;
    //border: 2px solid darken($shadowColor, 5);

    &.black-hole {
      background-color: black;
      z-index: 100;
      box-shadow: 0 0 0 4px rgb(200, 0, 0) inset;
      //      @include animation(black-hole-glow 2s infinite);
    }
    &.shining {
      background-color: #ffe20a;
      z-index: 100;
      box-shadow: 0 0 0 4px rgb(255, 182, 44) inset;
      //      @include animation(shinig-glow 4s infinite);
    }
    &.mercy {
      //@include test_exam(lighten($quater, 20), true);
      background-color: white;
      //z-index: 100;
      //box-shadow: 0 0 4px white inset;
      //      @include animation(mercy-glow 6s infinite);
    }

    span {
      display: none;
    }
    &:hover {
      span {
        display: inline;
      }
    }

    &.awful {
      &:before {
        content: '-1';
      }
    }

    &.awful {
      &:before {
        content: 'Ð½';
      }
      color: #ff454a;
      background-color: #fff2f2;
    }
    &.bad {
      background-color: #ffede8;
    }
    &.empty {
      background-color: lighten($color, 40);
      span {
        display: none;
      }
    }
    &.normal {
      background-color: lighten($color, 27);
    }
    &.good {
      box-shadow: inset 0 0 10px lighten($shadowColor, 15);
      background-color: lighten($color, 23);
    }
    &.excellent {
      box-shadow: inset 0 0 10px lighten($shadowColor, 5);
      background-color: lighten($color, 17);
    }
    &.awesome {
      box-shadow: inset 0 0 10px lighten($shadowColor, 3);
      background-color: lighten($color, 8);
    }
    &.fantastic {
      box-shadow: inset 0 0 10px $shadowColor;
      background-color: lighten($color, 3);
    }
    &.incredible {
      box-shadow: inset 0 0 10px $shadowColor;
      background-color: lighten($color, 0);
    }
  }
}

@mixin lessonCell($color) {
  &.lesson {
    background-color: lighten($color, 20);
  }
}

.hidden {
  display: none;
}

#barChart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#students {
  //border-right: 1px solid;
  //border-left: 1px solid;
  box-shadow: 1px 1px 6px silver;
  float: left;
  overflow: hidden;
  .student {
    padding: 2px 6px;
    padding-right: 4px;
    height: $baseHeight;
    .label {
      float: right;
      border-radius: 8px;
      padding: 5px;
      margin-left: 4px;
      background-color: white;
      color: green;
    }
    span.n{
      display: none;
    }
    @media (max-width: $width-medium) {
      span.name {
        display: none;
      }
      span.n{
        display: inline;
      }
    }
  }
  tr {
    td {
      border-top: $borderWidth solid white;
      border-right: $borderWidth solid white;
    }
  }

  tr .mark-cell {
    width: 100%;
    padding: 0;
    .student-btn {
      float: left;
      background-color: transparent;
      border: none;
      border-right: 1px solid;
      height: $baseHeight;
      padding: 0.1rem 0.5rem;
      //margin-right: 4px;
    }
  }
}

#marks {
  padding-left: 2px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;

  tr:first-child {
    td {
      border-top: $borderWidth solid white;
    }
  }

  td {
    border-top: $borderWidth solid white;
    border-right: $borderWidth solid white;
  }
}

.mark-cell {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: $baseWidth;
  height: $baseHeight;
  text-align: center;
  padding: 2px;

  border-radius: 3px;
  border: 1px solid #a3a3a3;

  &.empty {
    border-color: #e3e3e3;
  }

  &.exam {
    $color: #ffffff;
    $shadowColor: $color;
    @include lessonCell($color);
    @include markCell($color, $shadowColor)
  }
  &.prct {
    $color: #b9ff1f;
    $shadowColor: #87d014;
    @include lessonCell($color);
    @include markCell($color, $shadowColor)
  }
  &.lab {
    $color: #ffee00;
    $shadowColor: #ffcc00;
    @include lessonCell($color);
    @include markCell($color, $shadowColor)
  }
  &.test {
    $color: #FF006F;
    $shadowColor: #d20079;
    @include lessonCell($color);
    @include markCell($color, $shadowColor)
  }
  &.lect {
    $color: #2ee0fa;
    $shadowColor: #2aa4dd;
    @include lessonCell($color);
    @include markCell($color, $shadowColor)
  }
  &.exam {
    $color: #ff5900;
    $shadowColor: #ffd300;
    @include lessonCell($color);
    @include markCell($color, $shadowColor)
  }

  //box-shadow: inset 0 0 10px #840B00;
  //background-color: rgb(255, 0, 111);
}