<template name="marks">
    <div class="row">
        <div class="col-md-12">
            <form action="" class="form-inline">
                <div class="form-group">
                    <select class="form-control" name="year" id="year">
                        {{#each years}}
                            <option value="{{year}}" {{selected}}>{{year}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control" name="discipline" id="discipline">
                        {{#each disciplines}}
                            <option value="{{i._id}}" {{selected}}>{{i.title}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    {{#if groupsAndDisciplinesReady }}
                        {{#each groups}}
                            {{>marksGroup}}
                        {{/each}}
                    {{else}}
                        {{>loading }}
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div style="padding-top: 2em">
            <div class="{{loadingVisible}}">
                {{> loading}}
            </div>
            <div class="{{marksVisible}}">
                <div id="students"></div>
                <div id="marks"></div>
            </div>
        </div>
    </div>
</template>